body {
    margin: 0px;
}

nav {
    background-color: black;
    padding: 2px;
}

#listaNav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#listaNav a {
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
}